* {
  text-align: center;
  background-color: #e6e6e6;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 3rem 0 3rem;
}

.header>.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header>.header-links>a {
  margin-left: 18px;
  font-weight: bold;
  font-size: 18px;
}

.content>p {
  font-size: 25px;
  max-width: 373px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.content>img {
  border: 2px solid #2f553e;
}

.footer {
  height: 50px;
  margin-top: 5em;
  flex-shrink: 0;
}